/*Desktop*/

@media (min-width: 720px) {
  main {
    background: url(images/Desktop.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
  }
}

@media (min-width: 720px) {
  main {
    background: url(images/Desktop.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
  }
}

@media (min-width: 720px) {
  .avatar {
    width: 10rem;
    margin: 11.5rem auto 0;

    position: relative;
  }
}

@media (min-width: 720px) {
  .avatar span {
    position: absolute;
    top: 40px;
  }
}

@media (min-width: 720px) {
  .avatar > img {
    margin-top: 60px;
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }
}

/*Desktop*/
@media (min-width: 960px) {
  main {
    background: url(images/Desktop.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
  }
}

@media (min-width: 960px) {
  .avatar {
    width: 10rem;
    margin: 11.5rem auto 0;

    position: relative;
  }
}

@media (min-width: 960px) {
  .avatar span {
    position: absolute;
    top: 40px;
  }
}

@media (min-width: 960px) {
  .avatar > img {
    margin-top: 60px;
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }
}
